* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-image: url("fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.portada {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 25px;
}

.buttons {
  position: relative;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

#btnYes {
  background-color: #ff4e8b;
  color: white;
}

#btnYes:hover {
  transform: scale(1.1);
}

#btnNo {
  background-color: #555;
  color: white;
}
